/* // 
================Nota=============
Iniciamos con 320px de resolucion 
// */

body{
    width:100%;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

main{ 
    max-width: 100%;
   flex-direction: column;
   
}

.home_section {
    width: 100%;
    height: 700px;
    flex-direction: column;
    
}
.home_minibox{
    width: 100%;
    flex-direction: column;
}


.home_minibox h3{
   /*  position: absolute;
    top: 226px; */
    font-size: 25px;
    font-weight: 100;
   
}
.home_section h4{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 60px;
    font-size: 20px;
    text-align: center;
    max-width: 80%;

}
#Stree-coco {
    position: absolute;
    top: 526px;
    right: 0;
    width: 123px;
    
}
#Stree-coco1 {
    position: absolute;
    top: 444px;
    left: -123px;
    width: 231px;
}
#sol {
    position: absolute;
    top: -71px;
    left: -50px;
    width: 165px;
  
}
#coco {
    position: absolute;
    top: 66px;
    right: 8%;
    width: 52px;
  
}

.link_to_blog{
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.link_to_blog p{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    
}
.link_conocemas {
    width: 144px;
    height: 45px;
    /* background-color: var(--dark-blue);
    border: solid 3px var(--white);
    border-radius: 45px; */
    font-size: 20px;
    
}
.img_home {
    width:90%;
}

/* =========== New Travel Section ============ */
.new_travel_contain {
     width: 100%;
     flex-direction: column;
     margin:80px 0 50px 0;
 }
 .new_travel_contain::before{
     content: '';
     position: absolute;
     top: 703px;
     width: 60%;
     height: 2px;
     background-color: var(--white);
 }
 .new_travel_contain::after{
     content: '';
     position: absolute;
     top: 723px;
     width: 40%;
     height: 2px;
     background-color: var(--white);
 }
 .new_travel_contain h2{
     font-size: 22px;
     font-weight: 300;
     margin-bottom: 20px;
     padding-right: 30%;
 }
 .new_travel_contain .img_flecha{
     padding-left: 10px;
 }
 .new_travel_section{
     width: 100%;
 }
 
 .travel_contain_slider{
     display: flex;
     overflow-x: auto;
     scroll-behavior: smooth;
     -webkit-overflow-scrolling: touch;
     scrooll-snap-points-x:repeat(400px);
     scrooll-snap-type:mandatory;
     gap: 30px;
     margin-left: 30px;
     background-color: rgba(255, 255, 255, 0);
 }
 .travel_contain_slider::-webkit-scrollbar{
     width: 10px;
     height: 10px;
 }
 
 .travel_box{
     display: flex;
     flex-direction: column;
     align-items: center;
     min-width: 160px;
     height: 230px;
     background-color: rgba(255, 255, 255, 0);
     border: solid 3px var(--white);
     border-radius: 20px;
     box-sizing: content-box;
     z-index: 10;
 }
 
 .travel_box a{
    flex-direction: column; 
 }
     
 .img_travel_box{
     background-size: cover;
     width: 160px;
     height: 160px;
     border-radius: 16px;
 }
 
 .travel_box h4{
     margin-top: 10px;
     text-align: center;
     font-size: 15px;
     font-weight: 100;
     margin-bottom: 4px;
 }
 .last_card{
     margin-right: 24px;
 }

/* =========== frase_section ============ */

.frase_section{
    width: 100%;
    height: 200px;
    background-color: var(--vega-cofee);
    box-sizing: border-box;
}

.frase_section .img_frase_1{
    position: absolute;
    top: 1437px;
    left: -82px;
    width: 144px; 
}

.frase_section .img_frase_2{
    position: absolute;
    top: 1604px;
    left: 222px;
}
.frase_section .img_frase_3{
    position: absolute;
    top: 1681px;
    width: 126px;
    left: -64px;
}

.frase_section p{
    text-align: center;
    max-width: 70%;
    font-size: 18px;
    font-weight: 100;
}



/* =========== Icon Section============ */

.icon_section_home{
     width: 85%;
     height: 500px;
     flex-wrap: wrap;
     gap: 15px;
    margin-top: 77px;
     
 }
 .icon_select{
     width: 80px;
     height: 80px;
     border: solid 3px var(--dark-grey-little);
     background-color: var(--dark-blue);
     flex-direction: column;
 }
 
 .icon_1{
     border-bottom-left-radius: 20px;
 }
 
 .icon_3{
     border-top-right-radius: 20px;
 }
 
 .text_icon_home{
     position:absolute;
     top: 2030px;
 }

 .icon_select p{
     font-size: 12px;
     font-weight: 100;
 }
 

/* =========== Rate Section ============ */
.back_color {
    background-color: var(--dark-light-blue);
}
.rate_contain{
    width: 100%;
    height: 670px;
    flex-direction: column;
    margin-bottom: 50px;
}
.rate_contain h2{
    font-weight: 100;
    margin-bottom: 20px;
}

.travel_box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 160px;
    height: 230px;
    border-radius: 20px;
    box-sizing: content-box;
    z-index: 10;
}
.travel_box1 h4{
    margin-bottom: 4px;
}
.img_travel_box1 {
    width: 145px;
    margin: 7px 5px 14px 5px;
    border-radius: 13px;     
}

.circle_rate{
    position: absolute;
    top: 2335px;
    left: -77px;
  
    width: 170px;
    height: 170px;
    background-color: var(--vega-yellow);
    border-radius: 50%;
}

.circle_rate::before{
    content: '';
    position: absolute;
    top: 510px;
    left: 106px;
    width: 56px;
    height: 56px;
    background-color: var(--vega-yellow);
    border-radius: 50%;
}

.circle_rate::after{
    content: '';
    position: absolute;
    top: 240px;
    left: 259px;
    width: 130px;
    height: 130px;
    background-color: var(--vega-yellow);
    border-radius: 50%;
}


/* =========== @Media Querys============ */
/* ========       Home          ======== */


@media only screen and (min-width: 375px) {

    .home_section h4 {
        margin-bottom: 32px;
    }

    .home_minibox h3 {
        top: 181px;
    }

    #coco {
        top: 79px;
        right: 8%;
        width: 53px;
    }

  /*   #Stree-coco {
        left: 41%;
    } */

    /* =============New Travel Section======= */

    .new_travel_contain {
        margin: 130px 0 50px 0;
    }
    .new_travel_contain::after {
        top: 773px;
    }
    .new_travel_contain::before {
        top: 734px;
    }

    /* ============= frase Section======= */

    .frase_section .img_frase_1 {
        top: 1498px;
    }

    .frase_section .img_frase_2 {
        top: 1670px;
        left: 266px;
    }

    .frase_section .img_frase_3 {
        top: 1774px;
        width: 160px;
        left: -78px;
    }



    /* ============= Icon Section======= */


    .text_icon_home {
        top: 2077px;
    }


/* ============= Rate Section======= */

    .circle_rate {
        top: 2374px;
    }
}
@media only screen and (min-width: 425px) {

    .home_section h4 {
        margin-bottom: 32px;
    }

    .home_minibox h3 {
        top: 171px;
    }

    #coco {
        top: 91px;
        right: 8%;
    }

    #Stree-coco1 {
        top: 497px;
    }
/* 
    #Stree-coco {
        top: 610px;
        left: 54%;
    } */

    /* =============New Travel Section======= */

    .new_travel_contain {
        margin: 218px 0 50px 0;
    }

    .new_travel_contain::after {
        top: 848px;
    }

    .new_travel_contain::before {
        top: 808px;
    }


    /* ============= frase Section======= */

    .frase_section .img_frase_1 {
        top: 1581px;
    }

    .frase_section .img_frase_2 {
        top: 1761px;
        left: 310px;
    }    

    .frase_section .img_frase_3 {
        top: 1896px;
    }



    /* ============= Icon Section======= */

    .icon_section_home {
        gap: 36px;
    }

    .text_icon_home {
        top: 2164px;
    }


/* ============= Rate Section======= */

    .circle_rate {
        top: 2468px;
    }
}

@media only screen and (min-width: 768px) {


    .home_section h4 {
        margin-bottom: 32px;
    }

    .home_minibox {
        margin-top: 316px;
    }

    .home_minibox h3 {
        top: 222px;
        font-size: 30px;
    }

    #sol {
        width: 221px;
    }

    #coco {
        top: 90px;
        left: 608px;
        width: 90px;
    }

    #Stree-coco1 {
        top: 713px;
        left: -156px;
        width: 345px;
    }

  /*   #Stree-coco {
        top: 901px;
        left: 60%;
        width: 191px;
    } */

    /* =============New Travel Section======= */

    .new_travel_contain {
        margin: 730px 0 130px 0;
    }

    .new_travel_contain::after {
        top: 1333px;
    }

    .new_travel_contain::before {
        top: 1273px;
    }

    .new_travel_contain h2 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 32px;
        padding-right: 45%;
    }


    /* ============= frase Section======= */

    .frase_section .img_frase_1 {
        top: 2184px;
    }

    .frase_section .img_frase_2 {
        top: 2349px;
        left: 612px;
        width: 123px;
    }   

    .frase_section .img_frase_3 {
        top: 2481px;
        width: 210px;
        left: -100px;
    }
    .frase_section p {
        max-width: 75%;
        font-size: 28px;
        font-weight: 100;
    }



    /* ============= Icon Section======= */

    .icon_section_home {
        gap: 73px;
    }

    .icon_select p {
        font-size: 18px;
    }

    .text_icon_home {
        top: 2770px;
    }

    .icon_select {
        width: 100px;
        height: 100px;
        border: solid 4px var(--dark-grey-little);
    }


/* ============= Rate Section======= */

    .circle_rate {
        top: 3047px;
        left: -47px;
        width: 200px;
        height: 200px;
    }
    .circle_rate::after {
        top: 240px;
        left: 486px;
    }
    .circle_rate::before {
        left: 132px;
    }
    .rate_contain h2 {
        font-weight: 400;
        margin-bottom: 30px;
    }

/* ============= footer Section======= */

    .sub_email p {
        font-size: 20px;
    }
    .logo_footer {
        width: 60%;
        margin-bottom: 50px;

    }
    .copy_right p {
        font-size: 20px;
        line-height: 25px;
    }


}


