/* =========== Footer ============ */

p{
    color: var(--white);
}
h2{
    color: var(--white);
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
   flex-direction: column;
    height: 750px;
    
}
.sub_email{
    width: 80%;
    flex-direction: column;
}
.sub_email a{
    width: 150px;
    height: 60px;
    border-radius: 15px;
    background-color: var(--vega-yellow);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
.sub_email p{
    text-align: center;
    font-weight: 100;
    margin-bottom: 20px;
}
.socialmedia_footer{
    flex-direction: column;
    margin-top: 65px;
}
.socialmedia_footer h2{
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 300;
}

.social_icon {
    gap: 20px;
}

.copy_right{
    width: 80%;
    flex-direction: column;
    margin-top: 65px;

}
.copy_right p{
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
    
}
.copy_right p span{
    font-weight: 300;
   
   color: var(--vega-yellow);
}
.logo_footer{
    width: 80%;
    margin-bottom: 20px;
}