@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* =========== Lights Colors ========== */
    
        --light-base:#E8E8E8;
        --light-grey:#A4A4A4;
        --very-light-grey:#DADADA;
    
    
    /* =========== Basic Colors ========== */
        
        --vega-cofee:#41332B;
        --vega-yellow:#FFCA2C;
        --vega-red:#DF4949;
        --vega-green:#5F9032;
        --vega-light-blue:#267D97;
        --white: #fff;
        --black: #000;
    
    /* =========== Dark Colors ========== */
    
        --dark-blue:#252D38;
        --dark-light-blue:#2A384A;
        --very-dark-blue:#0A192E;
        --dark-grey-old:#252D38;
        --dark-grey-middle:#2C3644;
        --dark-grey-little:#474C54;
        --dark-grey-text: #858585;
        
    }

body{
    background-color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

.top_margin{
    margin-top: 20px;
}

/*=============== CENTER CONTENT ===============*/
.center_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============== CENTER CONTENT ===============*/

.width-aviable{
    width:-webkit-fill-available;
}

/*=============== BUTTONS ===============*/
.regular_button {
    justify-content: space-evenly;
    /* margin: 28px 0 28px 0; */
    width: 230px;
    height: 42px;
    border-radius: 50px;
    outline: 3px solid #fff;
}

/*=============== RATING ===============*/
.rating{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: 80px;
    margin-top: 202px;
}

.rating h3{
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    padding: 0 20px 0 30px;
}



/* ============ Glass Morfismo =========== */


.glass{
    background: linear-gradient( to right bottom, rgb(255, 255, 255, 0.5), rgba(223, 223, 223, 0.2));
    border: solid 2px rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(5px);
}
